<div layout="row" ng-cloak layout-fill >

  <section layout="column" flex layout-padding layout-margin >
    <div class="card-container">
      <img class="mainPic" src='{{ picture }}'>
      <div class="message-front">
        <p>{{ user.messageFront }}</p>
      </div>
    </div>
    <div class="card-container-back" layout="row">
      <div layout="column" class="message">
        <p><textarea placeholder="Enter message" ng-model="user.message"></textarea></p>
        <p>{{ user.message }}</p>
      </div>
      <div layout="column" class="address">
        <p><input style="border: none;" placeholder="full name" ng-model="user.name"></p>
        <p><input placeholder="address" ng-model="user.address"></p>
        <p><input placeholder="address line 2" ng-model="user.address2"></p>
        <p>
          <input class="city" placeholder="city" ng-model="user.city">
          <input class="state" placeholder="state" ng-model="user.state">
          <input class="zip" placeholder="zip" ng-model="user.postalCode">
        </p>
      </div>
    </div>
  </section>
  
  <section layout="column" flex layout-padding layout-margin >
  <div layout="column" ng-cloak class="md-inline-form form-background">
    <div class="form-header">
      <h2>Where would you like to send your photo?</h2>
    </div>
    <md-content layout-padding>
      <div>
        <form name="userForm" ng-submit='sendIt()'>
          <div layout-gt-xs="row">
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Full Name</label>
              <input ng-model="user.name" required>
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="user.address" required>
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <label>Address line 2</label>
            <input ng-model="user.address2">
          </md-input-container>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>City</label>
              <input ng-model="user.city" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>State</label>
              <input name="state" ng-model="user.state" md-minlength="2" md-maxlength="2" required>
              <div ng-messages="userForm.state.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="minlength">Please use the 2 digit state code</div>
                <div ng-message="maxlength">Please use the 2 digit state code</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Postal Code</label>
              <input name="postalCode" ng-model="user.postalCode"
                     required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
              <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                  code.
                </div>
                <div ng-message="md-maxlength" class="my-message">
                  Don't use the long version silly...we don't need to be that specific...
                </div>
              </div>
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Message Back</label>
            <textarea ng-model="user.message" md-maxlength="300" rows="5" required md-select-on-focus></textarea>
          </md-input-container>
          <md-button type="submit" class="md-raised md-primary">Send It!</md-button>
        </form>
      </div>
    </md-content>
  </div>
  </section>
</div>
