<div layout="row" style="display:flex;justify-content:center;align-items:center;">
  <div>
    <md-button ng-click="sendIt()" type="submit" class="md-raised md-primary">Send It!</md-button>
  </div>
</div>
<div layout="row" ng-cloak layout-fill >

  <section flex layout-padding layout-margin >
    <div class="card-container">
      <img class="mainPic" src='{{ picture }}'>
      <div class="message-front">
        <p>{{ user.messageFront }}</p>
      </div>
    </div>
  </section>
  <section flex layout-padding layout-margin >
    <div class="card-container-back" layout="row">
      <div layout="column" class="message">
        <p><textarea placeholder="Enter message" ng-model="user.message"></textarea></p>
      </div>
      <div layout="column" class="address">
        <p><input style="border: none;" placeholder="full name" ng-model="user.name"></p>
        <p><input placeholder="address" ng-model="user.address"></p>
        <p><input placeholder="address line 2" ng-model="user.address2"></p>
        <p>
          <input class="city" placeholder="city" ng-model="user.city">
          <input class="state" placeholder="state" ng-model="user.state">
          <input class="zip" placeholder="zip" ng-model="user.postalCode">
        </p>
      </div>
    </div>
  </section>
</div>
