body {
  font-family: 'Poiret One', cursive;
}

.instaButton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -80%);
  text-align: center;
  width: 300px;
}

.instaButton > a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  padding: 20px 20px;
  background-color: #F47D31;
  position: relative;
  top: -6px;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 0;
}

.pics {
  float: left;
  /*border: 2px solid #3498db;*/
}

.card-container {
  width: 44vw;
  max-height: 500px;
  background-color: #4C5365;
  padding: 0;
}

.mainPic {
  width: 31vw;
  max-height: 500px;
}

.header {
  background-color: #4C5365;
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.sent-card-info {
  margin-top: 80px;
  text-align: center;
}


.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out; 
    transition: all 0.6s ease-out; 
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;  
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0; 
    visibility: hidden;
    border-radius: 5px;
}

.grid-img:hover {
  border: 2px solid #FED587;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}